{% extends "pages\base.html" %} {% load static %} {% block title %} Home
{%endblock %} {% block header %}
 <!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'images/home-bg.jpg'%}')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h1>Wellcome!</h1>
                  <span class="subheading">Have a nice day</span>
              </div>
          </div>
      </div>
  </div>
</header>
  {% endblock %} 
{% block content %}
<main class="mb-4">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <p>"Difficulties in your life don't come to destroy you, but to help you realize your hidden potential."</p>
              <p style="font-style: italic;">- Anonymous - </p>
              <hr class="my-4"> 
              <p>"If GOD brings you to it, He will bring you through it."</p>
              <p style="font-style: italic;">- Anonymous - </p>
              <hr class="my-4"> 
              <p>"Life is like riding a bicycle. To keep your balance, you must keep moving."</p>
              <p style="font-style: italic;">- Albert Einstein - </p>
              </div>
      </div>
  </div>
</main>
{% endblock %}
